In [13]:
import pandas as pd
import requests
from api_keys import google_api_key

In [26]:
farming_list = pd.read_csv("Farming_list_sample.csv")

farming_list.head()

,Status,OWNERFIRST,OWNERLAST,Fullname,SITENUMBER,SITESTREET,SITECITY,SITEZIP,MAILNUMBER,MAILSTREET,...,TOPOGRPH,SWRTYPE,WTRSRC,GASSVC,GRNDCVR,AGRICPRV,NULL3,INTRTYPE1,PRIORDOCDA,PRIORPRICE
0,Owner Occupied,Augustine,Scott,Augustine Scott,4303.0,Aberfoil Avenue,Oakland,94605,4303,Aberfoil Avenue,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,########,0.0
1,Owner Occupied,Dana & Stephen,Cilono,Dana & Stephen Cilono,4222.0,Aberfoil Avenue,Oakland,94605,4222,Aberfoil Avenue,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,########,0.0
2,Owner Occupied,David,Williams,David Williams,4200.0,Aberfoil Avenue,Oakland,94605,4200,Aberfoil Avenue,...,0,NaN,NaN,NaN,NaN,NaN,NaN,FIXED,########,430000.0
3,Owner Occupied,Duke & Helen,Roberts,Duke & Helen Roberts,4201.0,Aberfoil Avenue,Oakland,94605,4201,Aberfoil Avenue,...,0,NaN,NaN,NaN,NaN,NaN,NaN,ADJUSTABLE,########,769000.0
4,Owner Occupied,Efe,Oghorie,Efe Oghorie,4220.0,Aberfoil Avenue,Oakland,94605,4220,Aberfoil Avenue,...,0,NaN,NaN,NaN,NaN,NaN,NaN,ADJUSTABLE,########,812000.0

In [27]:
farming_list = farming_list[["Fullname", "SITENUMBER", "SITESTREET", "SITECITY", "SITEZIP"]]
farming_list.head()

                Fullname  SITENUMBER       SITESTREET SITECITY  SITEZIP
0        Augustine Scott      4303.0  Aberfoil Avenue  Oakland    94605
1  Dana & Stephen Cilono      4222.0  Aberfoil Avenue  Oakland    94605
2         David Williams      4200.0  Aberfoil Avenue  Oakland    94605
3   Duke & Helen Roberts      4201.0  Aberfoil Avenue  Oakland    94605
4            Efe Oghorie      4220.0  Aberfoil Avenue  Oakland    94605

In [34]:
farming_list1 = farming_list.rename(columns = {"Fullname": "Owner_Name",
                                             "SITENUMBER": "Street_Number",
                                             "SITESTREET": "Street_Name",
                                             "SITECITY": "City",
                                             "SITEZIP": "Zipcode"})
farming_list1.head()

              Owner_Name  Street_Number      Street_Name     City  Zipcode
0        Augustine Scott         4303.0  Aberfoil Avenue  Oakland    94605
1  Dana & Stephen Cilono         4222.0  Aberfoil Avenue  Oakland    94605
2         David Williams         4200.0  Aberfoil Avenue  Oakland    94605
3   Duke & Helen Roberts         4201.0  Aberfoil Avenue  Oakland    94605
4            Efe Oghorie         4220.0  Aberfoil Avenue  Oakland    94605

In [35]:
farming_list1.dropna(how = "any", inplace = True)
farming_list1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 867 entries, 0 to 867
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Owner_Name     867 non-null    object
 1   Street_Number  867 non-null    float64
 2   Street_Name    867 non-null    object
 3   City           867 non-null    object
 4   Zipcode        867 non-null    int64
dtypes: float64(1), int64(1), object(3)
memory usage: 40.6+ KB

In [36]:
farming_list["Street_Number"] = farming_list["Street_Number"].apply(lambda x: str(x))
farming_list["Zipcode"] = farming_list["Zipcode"].apply(lambda x: str(x))

farming_list.info()

KeyError: 'Street_Number'

In [25]:
farming_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fullname    868 non-null    object
 1   SITENUMBER  867 non-null    float64
 2   SITESTREET  868 non-null    object
 3   SITECITY    868 non-null    object
 4   SITEZIP     868 non-null    int64
dtypes: float64(1), int64(1), object(3)
memory usage: 34.0+ KB